html {
    margin: 0 auto;
    max-width: 1280px;
}
.main {
    margin: 1.5rem;
}

.logoLink {
    display: flex;
    justify-content: center;
    height: 7.5rem;
}

.searchbar {
    background-color: rgba(226, 226, 226, 0.582);
    height: 4rem;
    border: none;
}

.searchbutton {
    background-color: rgba(226, 226, 226, 0.582);
    border: none;
    width: 4rem;
    justify-content: center;
    cursor: pointer;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.recipe {
    width: 22.5rem;
    height: 20rem;
    margin: 0.5rem 0 0.5rem 0;
}

.recipeImg {
    border-radius: 5px;
    width:22.5rem;
    height:7.5rem;
    object-fit:cover;
}

.recipeHeader {
    display: flex;
    background-color: rgba(226, 226, 226, 0.582);
    height: 3rem;
    font-size: 0.8rem;
}

.recipeFooter {
    display: flex;
    background-color: rgba(226, 226, 226, 0.582);
    font-size: 0.7rem;
    height: 8rem;
}

.recipeIngredients { 
    list-style: none;
}

.recipeDesc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

h1 {
    font-size: 0.8rem;
}

.time {
    font-size: 0.9rem;
    font-weight: bold;
}

.fa-clock-o {
    margin-right: 0.5rem;
}

.emptySpace {
    height: 1rem;
    background-color: rgba(226, 226, 226, 0.582);
}

.filterButton {
    color: white;
    padding: 1rem;
    width: 10rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.filterButton:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#filters {
    display: flex;
    position: relative;
}

.filterSearch{
    color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.filterSearch:focus {
    outline: none;
}

.filterSearch::placeholder {
    color: #99c0fb;
}

.filterContent {
    width: 30rem;
    position: absolute;
    z-index: 1;
    top: 0;
    display: none;
}

.filterList {
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
    border-radius: 0 0 5px 5px;
}

.filterItem {
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem 1rem;
}

.blue {
    background-color: #3282f7;
}

.red {
    background-color: #ed6454;
}

.green {
    background-color: #68d9a4;
}


.fa-chevron-up, .fa-chevron-down, .fa-times-circle {
    color: white;
    cursor: pointer;
}

#activeFilters {
    display: flex;
    color: white;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.activeFilterContent {
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    font-size: 0.9rem;
    margin: 0.5rem;
}

.removeActiveFilter {
    border-radius: 50%;
    border: solid 1px white;
}

.resultsCount {
    background-color: lightgoldenrodyellow;
    margin: 1rem 0 1rem 0;
    font-weight: bold;
    padding: 0.5rem;
    width: 12rem;
}

.noResultFound {
    background-color: lightgoldenrodyellow;
    margin: 1rem 0 1rem 0;
    font-weight: bold;
    padding: 0.5rem;
}

@media(max-width:780px) {
    #recipes {
        justify-content: center;
    }

}


@media(max-width:860px) {

    #filters {
        flex-direction: column;
        align-items: center;
    }

    .filterButton {
        margin-bottom: 0.5rem;
    }
}